body{
    background-image: url("../img/backgrounds/contactFormBackground.jpg");
    background-size: auto;
}

form{
    background-color: white;
    /*adjusting size and position of form */
    border-radius: 25px; /*gives the form rounded corners */
    height: 400px;
    max-width: 300px;
    position: relative;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
}

#header h1{
    text-align: center;
    color: rgb(221, 221, 219);
    text-shadow: 1px 1px black;
    font-size: 3em;
    margin: 3px;
} 


/*~~~~~~~~~~~~~~~~~~~
    FORM ELEMENTS
~~~~~~~~~~~~~~~~~~~~*/

p.formHeader{
    font-size:1.15em;
    margin: 0;
}

input[type="text"]{
    width: 20em;
    height:4em;
    margin: 2em auto;
    display: block;
    border-radius: 15px;
    border-color:rgba(180, 154, 9, 0.719); 
    border-width: 2px; 

    
}

input[type="password"]{
    width: 20em;
    height:4em;
    margin: 2em auto;
    display: block;
    border-radius: 15px;
    border-color:rgba(180, 154, 9, 0.719); 
    border-width: 2px; 

    
}


label.contactPreference{
    display: inline-block;
}


input[type="submit"]{
    width: 75%;
    height:2em;
    border-radius: 10px;
    border-color:rgba(180, 154, 9, 0.719);
    border-width: 3px; 
    background-color: white;
    opacity: 0.85;
    font-size: 24px;
    margin:0 auto;
    display:block;
}



.rainbow-text:hover{
    background-image: repeating-linear-gradient(45deg, violet, indigo, blue, green, yellow, orange, red, violet);
    text-align: center;
    background-size: 800% 800%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 24px;
    animation: rainbow 8s ease infinite;
}
/* code from: https://w3bits.com/rainbow-text/  */
.rainbow-text {
    height: 40px;
    width: 30%;
    border-radius: 10px;
    border-color:rgba(180, 154, 9, 0.719);
    border-width: 3px; 
    margin:20px 0px 0px 0px;
    opacity: 0.85;
    font-size: 24px;
    margin:0 auto;
    display:block;
  }

  
@keyframes rainbow { 
    0%{background-position:0% 50%}
    50%{background-position:100% 25%}
    100%{background-position:0% 50%}
}

.error{
    border:2px solid rgb(255, 0, 119) !important;
}



